@charset "UTF-8";
@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightblue;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.184);
}
header h1 {
    text-align: center;
    padding: 20px;
    max-height: 143px;
}
#ham{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.fechar:nth-child(1){
    transform: rotate(45deg) translate(6px,7px);
    transition: transform 400ms ease-in-out 50ms;
}

.fechar:nth-child(2){
    transform: rotate(-45deg) translate(0px,-2px);
    transition: transform 400ms ease-in-out 50ms;

}

.fechar:nth-child(3){
    background-color: white;
    transition: background-color 400ms ease-in-out ;
}
.abrir:nth-child(3){
    background-color: black;
    transition: background-color 400ms ease-in-out 250ms;
}
.abrir:nth-child(2){
    transform: rotate(0deg) translate(0px,0px);
    transition: transform 400ms ease-in-out 50ms;
}

.abrir:nth-child(1){
    transform: rotate(0deg) translate(0px,0px);
    transition: transform 400ms ease-in-out 50ms;
}
span{
    height: 5px;
    display: inline-block;
    margin: 3px;
    width: 50px;
    background-color: black;
}

menu ul{
    height: 0px;  
    background-color: white;
    display: flex;
    flex-direction: column;
}

.inicial > li {
    height: 0px;
    opacity: 0;
}

.aberto{
    height: 130px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    margin-top: -2px;
    transition: height 200ms;
}


.aberto > li{
    height: 40px;
    opacity: 1;
    text-align: center;
    padding: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    background-color: darkcyan;
    color: white;
    font-size: 1em;
    transition: height 300ms ease-in-out,opacity 300ms ;
}

.fechado{
    height: 0px;
    transition: height 300ms ease-in-out 100ms;

}

.fechado > li{
    opacity: 0;
    height: 0px;
    transition: height 300ms ease-in-out 100ms;
}

main{
    max-width: 700px;
    margin: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 1px;
    padding: 40px 10px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.221);
    
}
article{
    padding: 10px;
}
article h2{
    margin: 20px 10px;
    text-align: center;
}
article p {
     text-align: justify;
     line-height: 1.5em;
     text-indent: 1.5em;
}